@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bg-light dark:bg-bg-dark text-text-light dark:text-text-dark min-h-screen font-sans antialiased;
    overscroll-behavior: none; /* Prevents overscroll on iOS */
  }
}

/* Custom minimal scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-300 dark:bg-slate-700 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400 dark:bg-slate-600;
}

@layer utilities {
  .bg-dot-grid-light {
    background-size: 1rem 1rem;
    background-image: radial-gradient(circle, theme('colors.slate.300') 1px, transparent 1px);
  }
  .bg-dot-grid-dark {
    background-size: 1rem 1rem;
    background-image: radial-gradient(circle, theme('colors.slate.700') 1px, transparent 1px);
  }
}